

form{
    padding: 30px 110px;
    margin-bottom: 1000px;  
   
    
}  
form input,label,select{
    margin:10px 4px;
    font-size: 15px;
    width: 500px;
   
   
}


#HeaderH1{
   
    font-size: 15px;
    text-align: center;
    margin: 20px;
    background-color: #613fb8;
    border-radius: 15px;
    padding-right: 30px;
    padding-left: 30px;
    width: 460px;
    color: whitesmoke;
    text-shadow: black 2px 2px;
    
}
.submitButton button{
    width: 80px;
    text-align: center;
    background-color: #613fb8;
    height: 40px;
    border-radius: 20px;
    margin-right: 30px;
}
.submitButton button:hover{
    
    background-color: #3E2F6590;
    color: white;

}
.submitButton{
    text-align: right;
   margin-right: 200px;
    margin-top: 50px;
}
