
table, th, td , tr{
    border:  2px solid black;
    width: 900px;
    padding-top: 10px;
    border-collapse: collapse;
    padding: 10px 5px;
    font-size: small;
    margin-left: 200px;


    
    
  }
  tr {
    text-shadow: black 2px 1px;
    
  }
 caption{
    text-decoration: none;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    background: black;
    border-radius: 1px;
    color: white ;
  
    

  }
